.maped{
   padding: 22px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
    margin: 0 auto;
}

.card{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 20px -1px rgba(34, 60, 80, 0.08);
}
img{
    width: 100%;
}
