.bgg {
  background-color: #46a358;
}
ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  a {
    color: whitesmoke;
    font-size: 22px;
  }
  li {
    list-style: none;
    color: whitesmoke;
    font-size: 22px;
  }
 
}
 button {
    border: none;
    width: 100px;
    height: 40px;
    background-color: aliceblue;

    color: black;
    border-radius: 10px;
    font-size: 22px;
  }

.maped {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  .cardPlants {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    border: none;
    border-radius: 30px;
    background-color: white;
    height: max-content;
    padding: 10px;
  }
  img {
    width: 100%;
    height: 270px;
  }

  .info {
    width: 100%;

    .price {
      margin-top: 4px;
      font-weight: 900;
      font-size: 13px;
      color: #46a358;
      cursor: pointer;
    }
  }
}
.container3{
  margin-top: 20vh;
}



@media only screen and (max-width: 1400px) {



  .maped{
      display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  }

}

@media only screen and (max-width: 1211px) {

    button{
    font-size: 16px;
    color: black;
  }
  p{
    font-size: 13px;

  }



}
@media only screen and (max-width: 980px) {


  .maped{
      display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  }

}
@media only screen and (max-width: 780px) {


  .maped{
      display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  }

}
@media only screen and (max-width: 600px) {


  .maped{
      display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  }

}